* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
}

.logo {
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    text-decoration: none !important;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.nav-ul li {
    color: white;
    text-decoration: none;
}

li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none !important;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-txt {
    color: white;
    border: 1px solid white;
    padding: 5px;
}

body, html {
    height: 100%;
}

.ind-bg {
    /* The image used */
    background: url("../img/food-bg.jpg") center center fixed;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */

    background-size: cover;
}

.other-bg {
    /* The image used */
    background: url("../img/bg-blank.png") center center fixed;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */

    background-size: cover;
}

.container {
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-container>div {
    flex: 0 50%;
    /*demo*/
}



