<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Croissant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body class="other-bg">
    <nav>
        <a href="/"><div class="logo">R E C I P E B O O K</div></a>
        <ul class="nav-ul">
            <li><a href="/about">ABOUT ME</a></li>
            <li><a href="/recipes">LIST OF RECIPES</a></li>
            <li><a href="/pasta">PASTA</a></li>
            <li><a href="/noodles">NOODLES</a></li>
            <li><a href="/fried-egg">FRIED EGG</a></li>
            <li><a href="/curry">CURRY</a></li>
            <li><a href="/croissant">CROISSANT</a></li>
        </ul>
    </nav>

    <div class="container">


        <div class="recipe">
            <h1>Croissant</h1>
            <hr>
            <br>
            <div class="country-container">
                <div class="country">
                    <h2>Country</h2>
                    <p>France</p>
                </div>
                <div class="flag">
                    <img src="../img/france.png" alt="france" height="50" width="50">
                </div>
            </div>
            <br>
            <h2>Ingredients</h2>
            <ul>
                <li>Flour</li>
                <li>Butter</li>
                <li>Milk</li>
                <li>Water</li>
                <li>Salt</li>
            </ul>

            <br>
            <h2>Directions</h2>
            <ol>
                <li>Combine ingredients</li>
                <li>Knead into dough</li>
                <li>Bake in oven</li>
            </ol>
        <br>
        <h2>Serves 4 people</h2>
        </div>
        <div class="food-img">
            <img src="../img/croissant.PNG" alt="croissant">
        </div>
    </div>

</body>
</html>