<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fried Egg</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="index.html"><div class="logo">R E C I P E B O O K</div></a>
        <ul class="nav-ul">
            <li><a href="recipes.html">LIST OF RECIPES</a></li>
            <li><a href="pasta.html">PASTA</a></li>
            <li><a href="noodles.html">NOODLES</a></li>
            <li><a href="fried-egg.html">FRIED EGG</a></li>
            <li><a href="curry.html">CURRY</a></li>
            <li><a href="croissant.html">CROISSANT</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Fried Egg</h1>
        <br>

        <div class="ingred">
            <h2>Ingredients</h2>
            <ul>
                <li>Egg</li>
                <li>Butter</li>
                <li>Salt & Pepper</li>
            </ul>
        </div>
        <br>
        <div class="dir">
            <h2>Directions</h2>
            <ol>
                <li>Melt butter in pan</li>
                <li>Fry egg in butter</li>
                <li>Add salt & pepper to taste</li>
            </ol>
        </div>
        <br>

        <h2>Serves 1 person</h2>
    </div>

</body>
</html>