<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pasta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="other-bg">
    <nav>
        <a href="/"><div class="logo">R E C I P E B O O K</div></a>
        <ul class="nav-ul">
            <li><a href="/recipes">LIST OF RECIPES</a></li>
            <li><a href="/pasta">PASTA</a></li>
            <li><a href="/noodles">NOODLES</a></li>
            <li><a href="/fried-egg">FRIED EGG</a></li>
            <li><a href="/curry">CURRY</a></li>
            <li><a href="/croissant">CROISSANT</a></li>
        </ul>
    </nav>

    <div class="container">

        <div class="recipe">
            <h1>Pasta</h1>
            <br>
            <h2>Ingredients</h2>
            <ul>
                <li>Pasta Noodles</li>
                <li>Marinara Sauce</li>
            </ul>
            <br>

            <h2>Directions</h2>
            <ol>
                <li>Boil noodles and heat sauce in pan</li>
                <li>Combine noodles and sauce</li>
            </ol>
            <br>
            <h2>Serves 2 people</h2>
        </div>

        <div class="food-img">
            <img src="../img/pasta.PNG" alt="pasta">
        </div>
    </div>

</body>
</html>